.best-barber-img1 {
  width: 270px;
  height: 445px;
}
.best-barber-img2 {
  width: 270px;
  height: 445px;
}
.best-barber-text-block-one {
  color: #303030;
}
.best-barber-text-block-two {
  text-decoration: none;
  list-style: none;
}
.best-barber-text-block-ul {
  list-style: none;
  text-decoration: none;
}
.best-barber {
  width: 1280px;
  height: 705px;
}
