//   adaptive container

   $mobile: 448px;
   $mobile-top: 719px;
   $tablet: 720px;
   $tablet-top: 1199px;
   $desctop: 1200px;
   


//    text color
$main-text-color: #ffffff;
$primery-text-color: #555555;
$secondary-text-color: #9da4bd;
$title-text-color: #303030;
$subtitle-text-color: rgba(157, 164, 189, 0.6);
$accent-color: #ff6c00;

// background-color


    $main-bg-color: #FFFFFF;
    $secondary-bg-color: #191C26;
    $accent-bg-color: #F7F7F7;
    $primery-bg-color: #E5E5E5;


// font-family
    $main-font-family: 'Open Sans', sans-serif;
    $title-font-family: 'Raleway', sans-serif;
    


// font-weight
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// letter-spacing
$main-letter-spacing: 0.02em;
$title-letter-spacing: 0.05em;
$subtitle-letter-spacing: 0.01em;

// mobile & tablet
$hero-font-size-mobile: 48px;
$hero-line-height-mobile: 1.17;

$title-font-size-mobile: 28px;
$title-line-height-mobile: 1.18;

$main-font-size-mobile: 16px;
$main-line-height-mobile: 1.63;

$accent-font-size-mobile: 14px;
$accent-line-height-mobile: 2.14;

// desctop
$hero-font-size: 72px;
$hero-line-height: 1.18;

$title-font-size: 42px;
$title-line-height: 1.17;

$main-font-size: 18px;
$main-line-height: 1.67;

$secondary-font-size: 12px;
$secondary-line-height: 1.33;

$subtitle-font-size: 14px;
$subtitle-line-height: 1.86;

$small-font-size: 11px;
$small-line-height: 1.36;

// buttons
$btn-font-size: 12px;
$btn-line-height: 1.33;
$btn-font-weight: 600;
$btn-letter-spacing: 0.09em;
$btn-main-color: #ffffff;
$btn-accent-color: #303030;

// cubic-bezier

$main-transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
