<article class="barber-portfolio">
  <section class="section portfolio" id="potfolio">
    <div class="container">
    <h2 class="visually-hidden">Portfolio</h2>
      <span class="dash"></span><span class="sub-block"><p class="portfolio-sub-title">На латинском языке "барба" означает "борода"</p></span>
      <ul class="portfolio-list">
        <li>
        <picture>
          <source srcset="./images/portf1-270-min.jpg 270w, ./images/portf1-2x-540-min.jpg 540w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 270px">
          <source srcset="./images/portf1-330-min.jpg 330w, ./images/portf1-2x-660-min.jpg 660w" media="(min-width: 720px)" sizes="(min-width: 720px) 330px">
          <source srcset="./images/portf1-418-min.jpg 418w, ./images/portf1-2x-836-min.jpg 836w" media="(min-width: 448px)" sizes="(min-width: 448px) 418px">
          <source srcset="./images/portf1-270-min.jpg 270w, ./images/portf1-2x-540-min.jpg 540w" media="(max-width: 447px)" sizes="(max-width: 447px) 270px">
          <img src="./images/portf1-270-min.jpg" alt="work1"/>
        </picture>
        </li>
        <li>
        <picture>
          <source srcset="./images/portf2-270-min.jpg 270w, ./images/portf2-2x-540-min.jpg 540w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 270px">
          <source srcset="./images/portf2-330-min.jpg 330w, ./images/portf2-2x-660-min.jpg 660w" media="(min-width: 720px)" sizes="(min-width: 720px) 330px">
          <source srcset="./images/portf2-418-min.jpg 418w, ./images/portf2-2x-836-min.jpg 836w" media="(min-width: 448px)" sizes="(min-width: 448px) 418px">
          <source srcset="./images/portf2-270-min.jpg 270w, ./images/portf2-2x-540-min.jpg 540w" media="(max-width: 447px)" sizes="(max-width: 447px) 270px">
          <img src="./images/portf2-270-min.jpg" alt="work2"/>
        </picture>
        </li>
        <li>
        <picture>
          <source srcset="./images/portf3-270-min.jpg 270w, ./images/portf3-2x-540-min.jpg 540w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 270px">
          <source srcset="./images/portf3-330-min.jpg 330w, ./images/portf3-2x-660-min.jpg 660w" media="(min-width: 720px)" sizes="(min-width: 720px) 330px">
          <source srcset="./images/portf3-418-min.jpg 418w, ./images/portf3-2x-836-min.jpg 836w" media="(min-width: 448px)" sizes="(min-width: 448px) 418px">
          <source srcset="./images/portf3-270-min.jpg 270w, ./images/portf3-2x-540-min.jpg 540w" media="(max-width: 447px)" sizes="(max-width: 447px) 270px">
          <img src="./images/portf3-270-min.jpg" alt="work3"/>
        </picture>
        </li>
        <li>
        <picture>
          <source srcset="./images/portf4-270-min.jpg 270w, ./images/portf4-2x-540-min.jpg 540w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 270px">
          <source srcset="./images/portf4-330-min.jpg 330w, ./images/portf4-2x-660-min.jpg 660w" media="(min-width: 720px)" sizes="(min-width: 720px) 330px">
          <source srcset="./images/portf4-418-min.jpg 418w, ./images/portf4-2x-836-min.jpg 836w" media="(min-width: 448px)" sizes="(min-width: 448px) 418px">
          <source srcset="./images/portf4-270-min.jpg 270w, ./images/portf4-2x-540-min.jpg 540w" media="(max-width: 447px)" sizes="(max-width: 447px) 270px">
          <img src="./images/portf4-270-min.jpg" alt="work4"/>
        </picture>
        </li>
      </ul>
    </div>
  </section>
</article>
