<article class="barber-portfolio">
  <section class="portfolio">
    <div class="container">
    <h2>Portfolio</h2>
    <div class="text-decoration">
      <span class="dash"></span><p class="portfolio-text">На латинском языке "барба" означает "борода"</p>
    </div>
    <ul class="portfolio-list">
      <li>
        <picture>
          <img
            class="img"
            srcset="
              ./src/images/portf1-270-min.jpg    270w,
              ./src/images/portf1-330-min.jpg    330w,
              ./src/images/portf1-418-min.jpg    418w,
              ./src/images/portf1-2x-540-min.jpg 540w,
              ./src/images/portf1-2x-660-min.jpg 660w,
              ./src/images/portf1-2x-836-min.jpg 836w
            "
            src="./src/images/portf1-270-min.jpg" alt="work1"
            sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100wv"
          />
        </picture>
      </li>
      <li>
        <picture>
          <img
            class="img"
            srcset="
              ./src/images/portf2-270-min.jpg    270w,
              ./src/images/portf2-330-min.jpg    330w,
              ./src/images/portf2-418-min.jpg    418w,
              ./src/images/portf2-2x-540-min.jpg 540w,
              ./src/images/portf2-2x-660-min.jpg 660w,
              ./src/images/portf2-2x-836-min.jpg 836w
            "
            src="./src/images/portf2-270-min.jpg"
            alt="work2"
            sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100wv"
          />
        </picture>
      </li>
      <li>
        <picture>
          <img
            class="img"
            srcset="
              ./src/images/portf3-270-min.jpg    270w,
              ./src/images/portf3-330-min.jpg    330w,
              ./src/images/portf3-418-min.jpg    418w,
              ./src/images/portf3-2x-540-min.jpg 540w,
              ./src/images/portf3-2x-660-min.jpg 660w,
              ./src/images/portf3-2x-836-min.jpg 836w
            "
            src="./src/images/portf3-270-min.jpg"
            alt="work1"
            sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100wv"
          />
        </picture>
      </li>
      <li>
        <picture>
          <img
            class="img"
            srcset="
              ./src/images/portf4-270-min.jpg    270w,
              ./src/images/portf4-330-min.jpg    330w,
              ./src/images/portf4-418-min.jpg    418w,
              ./src/images/portf4-2x-540-min.jpg 540w,
              ./src/images/portf4-2x-660-min.jpg 660w,
              ./src/images/portf4-2x-836-min.jpg 836w
            "
            src="./src/images/portf1-270-min.jpg"
            alt="work4"
            sizes="(min-width: 1280px) 25vw, (min-width: 768px) 50vw, 100wv"
          />
        </picture>
      </li>
    </ul>
  </div>
  </section>
</article>
