<article class="best-barb">
  <section class="best-barber" name="best-barber" id="best-barb">
    <div class="container">
      <div class="b-b-box">
        <div class="img-block">
        <picture class="img-block-pic">
          <source srcset="./images/barb1-270-min.jpg 270w, ./images/barb1-2x-540-min.jpg 540w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 270px">
          <source srcset="./images/barb1-330-min.jpg 330w, ./images/barb1-2x-660-min.jpg 660px" media="(min-width: 720px)" sizes="(min-width: 720px) 330px">
          <img src="./images/barb1-270-min.jpg" alt="shaving process"/>
        </picture>
        <picture class="img-block-pic">
          <source srcset="./images/barb2-270-min.jpg 270w, ./images/barb2-2x-540-min.jpg 540w" media="(min-width: 1200px)" sizes="(min-width: 1200px) 270px">
            <source srcset="./images/barb2-330-min.jpg 330w, ./images/barb2-2x-660-min.jpg 660px" media="(min-width: 720px)" sizes="(min-width: 720px) 330px">
          <img class="shaving-pic" src="./images/barb2-270-min.jpg" alt="shaving process"/>
        </picture>
        </div>
        <div class="text-block">
          <span class="dash"></span><p class="best-barber-sub-title">О НАС</p>
          <h2 class="best-barber-title">Лучший Барбершоп твоего города</h2>
          <p class="best-barber-feature">Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.</p>
          <p class="best-barber-feature">Мы команда, которая никогда не останавливается на достигнутом и жаждет перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам приходит!</p>
          <a class="button-online" href="#online-check">ОНЛАЙН-ЗАПИСЬ</a>
        </div>
      </div>
    </div>
  </section>
  
</article>
