<article class="footer">
  <footer>
    <!-- блок онлайн записи -->
    <div class="footer-flex">
  <div class="container-footer">
    <div class="footer-section online-form">
      <h2 class="footer-title" id="online-check">Онлайн-запись</h2>
      <form class="form" autocomplete="off">     
        <div class="tablet-flex">
        <label class="label">
          <input type="text" name="name" placeholder="имя &ast;" class="modal-input" required>
          <!-- <span class="input-label">Имя*</span> -->
        </label>
        <label class="label">
          <input type="tel" name="tel" placeholder="телефон &ast;" class="modal-input modal-input-tel" required>
          <!-- <span class="input-label">Телефон*</span> -->
        </label>
      </div>

      <div class="footer-area"> 
        <label class="message">
          <textarea class="textaria-footer" name="message" placeholder="сообщение" class="modal-input"></textarea>
          <!-- <span class="input-label">Сообщение</span> -->
        </label>
      
        <button type="submit" class="button-send">отправить</button>

      </div>
    </div>

      </form>
    </div>
    <!-- блок контактов -->
    <div class="footer-background"> 

    <div class="container-footer footer-section contacts-form">
      <div class="subcintainer-footer">
      <h3 class="footer-title contact-title">Контакты</h3>
      <div class="flex-contact">
      <address>
        <a href="" class="map-link"><svg class="footer-icon"><use href="./images/sprite.svg#map-pin"></use></svg>ул. Васильковая, 7А, Киев, 08132</a>
        <a id="contacts" href="tel:+380441111111"><svg class="footer-icon"><use href="./images/sprite.svg#phone"></use></svg>+38 044 111 11 11</a>
        <a href="mailto:barbershop@email.com" class="barb-contacts"><svg class="footer-icon"><use href="./images/sprite.svg#envelope"></use></svg>barbershop@email.com</a>
      </address>
      <div class="working-time">
        <span class="dash dash-footer"></span><p class="time-sub-title">время работы</p>
        <p class="time">Ежедневно с 9:00 до 22:00</p>
      </div>
      </div>
    </div>
  </div>
    </div>
  </div>




    <!-- ссылки на соц сети -->
    <div class="footer-but-backgr">
      <div class="container social-media">
        <div class="copy-box-footer">
          <p class="copyright">&copy; Copyright 2020</p>
         </div>
      <div class="fotter-buttom-box">
      <span class="hero-line"></span>
      <ul class="links-list">
        <li class="footer-links-list"><a class="sidebar-link" href="">Instagram</a></li>
        <li class="footer-links-list"><a class="sidebar-link" href="">Youtube</a></li>
      </ul>
    </div>
    </div>
  </div>
</div>
  </footer>
</article>
