<article class="footer">
  <footer>
    <!-- блок онлайн записи -->
  <div class="container">
    <div class="footer-section online-form">
      <h2 class="footer-title">Онлайн-запись</h2>
      <form class="form js-speaker-form" autocomplete="off">        
        <label class="label">
          <input type="text" name="name" placeholder=" " class="modal-input">
          <span class="input-label">Имя*</span>
        </label>
        <label class="label">
          <input type="tel" name="tel" placeholder=" " class="modal-input">
          <span class="input-label">Телефон*</span>
        </label>
        <label class="message">
          <textarea name="message" placeholder=" " class="modal-input"></textarea>
          <span class="input-label">Сообщение</span>
        </label>
        <button type="submit" class="button-send">отправить</button>
      </form>
    </div>
    <!-- блок контактов -->
    <div class="footer-section contacts-form">
      <h3 class="footer-title contact-title">Контакты</h3>
      <div class="address">
      <a href="" class="map-link"><svg class="footer-icon"><use href="./images/sprite.svg#map-pin"></use></svg>ул. Васильковая, 7А, Киев, 08132</a>
      <address>
        <a href="tel:+380441111111" class="barb-contacts"><svg class="footer-icon"><use href="./images/sprite.svg#phone"></use></svg>+38 044 111 11 11</a>
        <a href="mailto:barbershop@email.com" class="barb-contacts"><svg class="footer-icon"><use href="./images/sprite.svg#envelope"></use></svg>barbershop@email.com</a>
      </address>
      </div>
      <div class="working-time">
        <span class="dash"></span><p class="team-sub-title">время работы</p>
        <p>Ежедневно с 9:00 до 22:00</p>
      </div>
    </div>
    <!-- ссылки на соц сети -->
    <div class="social-media">
      <p>&copy; Copyright 2020</p>
      <span class="hero-line"></span>
      <ul class="links-list">
        <li><a class="sidebar-link" href="">Instagram</a></li>
        <li><a class="sidebar-link" href="">Youtube</a></li>
      </ul>
    </div>
  </div>
  </footer>
  <!-- <script src="./js/speaker-form.js"></script> -->
</article>
