<article class="header">
  
  <header class="header">

    <div class="header-container primery-container ">

      <div class="header-box">

     

      <a class="logo" href="">
        <svg class="" width="69" height="55">
        <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>



      <div class="header-menu" data-menu>
        <nav class="nav-menu"> 
            <ul class="nav-header list">
              <li class="nav-item"><a href="#best-barb" class="nav-link">О нас</a></li>
              <li class="nav-item"><a href="#prices" class="nav-link">Услуги и цены</a></li>
              <li class="nav-item"><a href="#masters" class="nav-link">Мастера</a></li>
              <li class="nav-item"><a href="#contacts" class="nav-link">Контакты</a></li>

              </ul>
        </nav>

      

        <div class="signup">
          
          
          <div class="sociaa-form">
             <span class="hero-line sidebar-hero-line"></span>
              <ul class="list sidebar-list">
                 <li class="sidebar-item"><a class="sidebar-link" href=""><span class="sidebar-text">Instagram</span></a></li>
                 <li class="sidebar-item"><a class="sidebar-link" href=""><span class="sidebar-text">Youtube</span></a></li>
            </ul>
      </div>


      <button class="header-btn-tablet" type="button">онлайн-запись</button>
      <a class="header-phone" href="tel:+380441111111">+38 044 111 11 11</a>
        </div>

        


      </div>


      <button class="header-mobile-button is-open" type="button" data-menu-button>
        <svg class="" width="40" height="40">
        <use class="icon-close-mobile " href="./images/sprite.svg#mobile-menu"></use>
        <use class="icon-open-mobile" href="./images/sprite.svg#mobile-close"></use>
        </svg>
      </button>








      
    </div>
    </div>

    
    
  </header>

  <main class="main">
    
    <div class="primery-container main-container">
   
      <section class="sidebar">
        <div class="sidebar-box">
        <span class="hero-line sidebar-hero-line"></span>
        <ul class="list sidebar-list">
          <li class="sidebar-item"><a class="sidebar-link" href=""><span class="sidebar-text">Instagram</span></a></li>
          <li class="sidebar-item"><a class="sidebar-link" href=""><span class="sidebar-text">Youtube</span></a></li>
        </ul>
      </div>
      </section>
   
      <section class="hero-section">
      
      <div class="hero-slider-box">
        <div class="hero-slider-dash active-dash"></div>
        <div class="hero-slider-dash"></div>
        <div class="hero-slider-dash"></div>
      </div>

     <div class="hero-content-box">
        
        <div class="hero-box-info">
          <div class="hero-line"></div>
          <p class="hero-info">A hair salon for men in Kyiv</p>
        </div>
         
        <h1 class="hero-title">BarberShop</h1>
        <p class="hero-about">Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со вкусом.</p>
      
        
      </div>

      <!-- <div class="hero-slider-btn">
      <button class="slayder-btn-check btn-next" type="button">Назад</button>
      <button class="slayder-btn-check btn-back" type="button">Вперед</button> -->
    <!-- </div> -->
 </section>

  </div>








  </main>
</article>
