<article class="price-menu">

    <section class="section part-prices" id="prices">
        <div class="container-menu prices">
          <span class="dash"></span>
          <p class="text prices">Проведи время в компании лучших мастеров</p>
          <h2 class="service-title">Услуги и цены</h2>
          <div class="prices-box">
            <ul class="price-list light">
              <li class="service">
                <span class="price-item-title">Мужская стрижка</span
                ><span class="underline"></span><span>от 300 грн.</span>
              </li>
              <li class="service">
                <span class="price-item-title">Стрижка бороды</span
                ><span class="underline"></span><span>от 200 грн.</span>
              </li>
              <li class="service">
                <span class="price-item-title">Стрижка усов</span
                ><span class="underline"></span><span>от 200 грн.</span>
              </li>
              <li class="service">
                <span class="price-item-title">Бритье опасной бритвой</span
                ><span class="underline"></span><span>от 200 грн.</span>
              </li>
            </ul>
            <ul class="price-list darker">
              <li class="service">
                <span class="price-item-title">Стрижка у стажера</span
                ><span class="underline"></span><span> от 50 грн.</span>
              </li>
              <li class="service">
                <span class="price-item-title"> Стрижка под насадку</span
                ><span class="underline"></span><span>от 200 грн.</span>
              </li>
              <li class="service">
                <span class="price-item-title"> Детская стрижка(до 12 лет)</span
                ><span class="underline"></span><span>от 300 грн.</span>
              </li>
              <li class="service">
                <span class="price-item-title">Комуфлирование седины </span
                ><span class="underline"></span><span>от 200 грн.</span>
              </li>
            </ul>
          </div>
          <a class="price-button-online"href="#online-check">Онлайн-запись</a>
        </div>
      </section>
    






</article>




