<article class="school">
<section class="traditional-school">
  <div class="container-school">
    <!-- Верхняя часть секции -->
    <div class="traditional-school-box-title">
      <div class="positioning-sub-title">
        <span class="dash"></span>
        <p class="sub-title">старая традиционная школа</p>
      </div>

      <h2 class="traditional-school-title">Почему приходят именно к нам?</h2>
      <p class="traditional-school-text">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>
    <!-- список преимуществ -->
    <div class="advantages-box">
      <ul class="advantages-list">
        <li class="advantages-item">
          <span class="advantages-number">600</span>
          <svg class="advantages-plus" width="9" height="9">
            <use href="./images/sprite.svg#plus"></use>
          </svg>
          <p class="advantages-text">Довольных клиентов в день</p>
        </li>
        <li class="advantages-item">
          <span class="advantages-number">50</span>
          <svg class="advantages-plus" width="9" height="9">
            <use href="./images/sprite.svg#plus"></use>
          </svg>
          <p class="advantages-text">Наград за отличный сервис</p>
        </li>
        <li class="advantages-item">
          <span class="advantages-number">20</span>
          <svg class="advantages-plus" width="9" height="9">
            <use href="./images/sprite.svg#plus"></use>
          </svg>
          <p class="advantages-text">Лучших мастеров Киева</p>
        </li>
        <li class="advantages-item">
          <span class="advantages-number">100</span>
          <svg class="advantages-plus" width="9" height="9">
            <use href="./images/sprite.svg#plus"></use>
          </svg>
          <p class="advantages-text">Подарков постоянным клиентам</p>
        </li>
      </ul>
    </div>
  </div>
</section>
</article>