<section class="traditional-school">
  <div class="container">
    <!-- Верхняя часть секции -->
    <div class="positioning-sub-title">
      <span class="dash"></span>
      <p class="sub-title">старая традиционная школа</p>
    </div>

    <h2 class="traditional-school-title">Почему приходят именно к нам?</h2>
    <p class="traditional-school-text">
      О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем
      10 раз прочитать.
    </p>
    <!-- список преимуществ -->
    <div>
      <ul>
        <li>
          <span>600</span>
          <p>Довольных клиентов в день</p>
        </li>
        <li>
          <span>50</span>
          <p>Наград за отличный сервис</p>
        </li>
        <li>
          <span>20</span>
          <p>Лучших мастеров Киева</p>
        </li>
        <li>
          <span>100</span>
          <p>Подарков постоянным клиентам</p>
        </li>
      </ul>
    </div>
  </div>
</section>
