// Секция мастеров
.portfolio {
    min-width: $pre-mobile;
    background-color: $main-bg-color;
}
  
// Подзаголовок секции
.portfolio-sub-title {
    @extend %sub-title;
    font-size: 11px;
    line-height: 1.91;
}

.sub-block {
    @media screen and (min-width: $mobile) and (max-width: $mobile-top) {
      display: inline-flex;
      width: 284px;
    }
}

// Галерея работ
.portfolio-list {
    @media screen and (max-width: $pre-mobile) {
      padding-left: 75px;
    }

    @media screen  and (max-width: $mobile-top) {
      li:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    
    @media screen and (min-width: $tablet) {
      @include centeredFlex();
      flex-wrap: wrap;
    }

    @media screen  and (min-width: $tablet) and (max-width: $tablet-top) {
      li {
          width: calc((100% - 1 * 30px) / 2);
      }

      li:nth-child(odd) {
        margin-right: 30px;
      }

      li:nth-child(-n +2) {
        margin-bottom: 30px;
      }
    }    
  
    @media screen and (min-width: $desktop) {
        li {
          width: calc((100% - 3 * 30px) / 4);
        }

        li:not(:last-child) {
          margin-right: 30px;
        }
    }
}