// Общие стили
body {
  margin: 0;
  font-family: Open Sans;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding: 84px 0;
}

.container {
  width: 448px;
  padding: 0 15px;
  margin: 0 auto;
}

// Верхняя часть секции с тире (sub-title)

.dash {
  display: inline-flex;
  //   margin-bottom: 5px;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: $title-text-color;

  //   @media screen and (max-width: 479px) {
  //     width: 30px;
  //     margin-right: 10px;
  //     margin-bottom: 2px;
  //   }
}

.sub-title {
  display: inline-flex;
  //   margin-bottom: 20px;

  color: $title-text-color;
  font-weight: $font-weight-semi-bold;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.positioning-sub-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
}
