// Позиционирование секции
.best-barber {
  background-color: $main-bg-color;
}

.b-b-box {
  @media screen and (min-width: $tablet) and (max-width: $tablet-top) {
    display: flex;  
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }    
}

// Блок с фотографиями
.img-block {
  @media screen and (max-width: $mobile-top) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }

  @media screen and (min-width: $desktop) {
    display: flex; 
    margin-right: 64px;
  }
}

.img-block-pic {
  @media screen and (min-width: $tablet) and (max-width: $tablet-top) {
    img {
      margin-bottom: 30px;
    }

    .shaving-pic {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-right: 30px;

    & + & {
      margin-right: 0;
    }
  }
}

// Блок с текстом
.text-block {
  width: 418px;

  @media screen and (min-width: $tablet) {
    width: 330px;
    
  }

  @media screen and (min-width: $desktop) {
    width: 500px;
  }
}

// Заголовок секции
.best-barber-sub-title {
  @extend %sub-title;
  font-size: 11px;
  line-height: 1.36;
}

.best-barber-title {
  @extend %title;
  margin-bottom: 20px;
  font-size: 28px;

  @media screen and (max-width: $pre-mobile) {
    font-size: 32px;
  }
}

.best-barber-feature {
  display: inline-block;
  margin-bottom: 20px;
  

  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  text-align: left;
  

  color: $primary-text-color;

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.67;
  }

  & + p {
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 40px;
  }
}