//  base

.visually-hidden {
  @media screen and (min-width: $tablet) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
}

footer {
  font-family: $main-font-family, sans-serif;
  color: $secondary-text-color;
  letter-spacing: $main-letter-spacing;
  background-color: $secondary-bg-color;

  // @media screen and (min-width: $desctop) {
  //   display: flex;

  //   &:last-child {
  //     display: block;
  //   }
  // }
}

h2,
h3,
p {
  margin: 0;
  padding: 0;
}

// .background-top {
//   background-color: $secondary-bg-color;
//   @media screen and (min-width: $desctop) {
//     display: inline;
//   }
// }

// .background-bottom {
//   background-color: $accent-bg-color;

//   display: block;
// }

.section-footer {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 39px;
    padding-right: 39px;
  }

  @media screen and (min-width: $desctop) {
    width: $desctop;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;

    &:last-child {
      display: block;
    }
  }
}

// form
.container-form {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: $tablet) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desctop) {
    width: 585px;
    padding-top: 130px;
    padding-bottom: 193px;
  }
}

.footer-title {
  text-align: center;
  font-family: $title-font-family;
  font-weight: $font-weight-bold;
  font-size: $title-font-size;
  line-height: $title-line-height;
  letter-spacing: $title-letter-spacing;
  color: $main-text-color;

  &.form {
    margin-bottom: 39px;

    @media screen and (min-width: $tablet) {
      text-align: start;
      margin-bottom: 44px;
    }
  }

  &.contacts {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      text-align: start;
      margin-bottom: 40px;
    }
  }
}

.footer-label {
  display: block;
  margin-bottom: 44px;

  & textarea {
    resize: none;
    vertical-align: top;
  }

  @media screen and (min-width: $tablet) {
    width: 330px;
    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      width: 100%;
    }
  }

  @media screen and (min-width: $desctop) {
    &:nth-child(-n + 2) {
      display: flex;
    }

    &:first-child {
      width: 270px;
    }

    &:nth-child(2) {
      width: 260px;
    }

    &:last-child {
      width: 560px;
    }
  }
}

.footer-form {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desctop) {
  }
}

.footer-input {
  width: 100%;
  padding-bottom: 8px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  font-weight: $font-weight-semi-bold;
  font-size: $small-font-size;
  line-height: $small-line-height;
  letter-spacing: $subtitle-letter-spacing;
  color: $main-text-color;
  background-color: $secondary-bg-color;

  &:focus,
  &:focus::placeholder {
    color: $main-text-color;
    border-color: $main-text-color;
  }

  &::placeholder {
    color: rgba(157, 164, 189, 0.4);
  }
}

.footer-button {
  display: block;
  padding: 12px 38px;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid $accent-color;
  border-radius: 25px;
  color: $btn-main-color;
  background-color: transparent;

  font-weight: $btn-font-weight;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  letter-spacing: $btn-letter-spacing;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    margin: 0;
  }
}

// contacts
.container-contacts {
  padding-top: 84px;
  padding-bottom: 84px;

  @media screen and (min-width: $tablet) {
    display: flex;

    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and (min-width: $desctop) {
    display: block;
    padding-top: 130px;
    padding-bottom: 130px;
    margin-left: 140px;
  }
}

.footer-info {
  @media screen and (min-width: $tablet) {
    width: 330px;

    &:first-child {
      margin-right: 30px;
    }

    &:last-child {
      padding-top: 95px;
    }
  }

  @media screen and (min-width: $desctop) {
    &:first-child {
      margin-right: 0px;
    }

    &:last-child {
      padding-top: 0;
    }
  }
}

.footer-list {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style: none;

  & .footer-item + .footer-item {
    margin-top: 20px;
  }

  @media screen and (min-width: $desctop) {
    margin-bottom: 70px;
  }
}

.footer-item {
  display: flex;
  align-content: center;

  @media screen and (min-width: $tablet) {
    position: relative;
  }
}

.footer-link {
  color: $secondary-text-color;
  font-weight: $font-weight-normal;
  font-size: $main-font-size;
  line-height: $main-line-height;
  text-decoration: none;

  &.mail {
    text-decoration: underline;
  }

  @media screen and (min-width: $tablet) {
    &.adress {
      width: 190px;
    }
  }
}

.footer .icon {
  margin-right: 16px;
  stroke: #9da4bd;
  fill: transparent;
  align-self: center;

  &.map {
    align-self: flex-end;
  }

  @media screen and (min-width: $tablet) {
    &.map {
      align-self: flex-start;
    }
  }
}

// working-hours
.footer-subtitle {
  margin-bottom: 20px;

  color: $main-text-color;
  font-family: $title-font-family;
  font-weight: $font-weight-semi-bold;
  font-size: $small-font-size;
  line-height: $small-line-height;
  letter-spacing: $subtitle-letter-spacing;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.subtitle-text {
  line-height: $main-line-height;
}

.dash {
  display: inline-flex;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.4);

  &.bottom {
    background-color: $title-text-color;
    margin-right: 40px;
  }
}

// footer-socials

.section-footer.bottom {
  background-color: $accent-bg-color;
}

.container-socials {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.footer-bottom-list {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding-top: 44px;
  padding-bottom: 20px;
  list-style: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    padding-top: 56px;
    padding-bottom: 56px;
    padding-left: 0;
  }
}

.footer-bottom-item {
  display: inline-flex;

  margin-left: 40px;
  align-items: center;

  &:first-child {
    margin-left: 0;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.footer-socials {
  display: block;
  font-weight: $font-weight-semi-bold;
  font-size: $small-font-size;
  line-height: $small-line-height;
  text-decoration: none;
  color: $title-text-color;
}

.copyright-text {
  display: block;
  padding-bottom: 44px;
  font-weight: $font-weight-semi-bold;
  font-size: $small-font-size;
  line-height: $small-line-height;

  @media screen and (min-width: $tablet) {
    display: inline-flex;
    order: -1;
    width: 127px;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
