.footer {
    background-color: $secondary-bg-color;
    min-width: $mobile;
}

.footer-flex {
    margin: 0 auto;

    @media screen and (min-width: $desktop) {
        display: flex;
        width: $desktop;  
    }
}

.footer-section {
    @media screen and (min-width: $desktop) {
      min-width: 50%;
    }
}


.footer-title {
    margin-bottom: 44px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
    
    @media screen and (min-width: $tablet) {
        text-align: left;
      }
}

.contact-title {
    margin-bottom: 40px;
   }

form {  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    @media screen and (min-width: $mobile) and (max-width: $mobile-top) {
        text-align: center;
        display: flex;     
    }

    @media screen and (min-width: $tablet) {
        display: block; 
    }

    @media screen and (min-width: $desktop) {
        align-items: flex-start;
    }
}

label {
    display: inline-block;
    position: relative;
    margin-bottom: 44px;
    
    &:not(:last-child){

        @media screen and (min-width: $tablet) {
            margin-right: 30px;
        }
    }
}

.tablet-flex {

    @media screen and (min-width: $tablet) {
        display: flex;
        max-width: 330px;

        & + label {
            margin-right: 30px;
        }
    }

    @media screen and (min-width: $desktop) {
        max-width: 270px;
    }

}

.modal-input {
    min-height: 25px;
    padding-bottom: 9px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $subtitle-text-color;
    background-color: transparent;
    resize: none;
    color: $main-text-color;
    
    display: inline-block;   
    @media screen and (max-width: $mobile-top) {
        width: 418px;
    }
    
    @media screen and (min-width: $tablet) {
        min-width: 330px;
        
        &:not(:last-child)
        {margin-right:30px }
    }

    @media screen and (min-width: $desktop) {
        min-width: 270px;
    }  
  
    &:focus-within, &:not(:placeholder-shown) {
      border-color: $main-text-color;
    }
}


.modal-input-tel {
    @media screen and (min-width: $desktop) {
        min-width: 260px;
    }
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(157, 164, 189, 0.4);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &:focus-within, &:not(:placeholder-shown) {
        color: $main-text-color;
    }
}

textarea {
    min-height: 75px;
    margin-bottom: 44px;

    @media screen and (min-width: $tablet) and (max-width: $tablet-top) {
        width: 690px;
    }

    @media screen and (min-width: $desktop) {
        width: 560px;
    }
}

// Кнопка
.button-send {
    padding-bottom: 13.2px;
    padding-top: 13.2px;
    min-width: 160px;
    height: 40px;
  
    font-weight: $font-weight-semi-bold;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-decoration: none;
    text-transform: uppercase;
     
    border-radius: 25px;
    border: 1px solid $accent-color;
    
    color: $main-text-color;
    background-color: transparent;
  
    &:hover, &:focus {
      background-color: $accent-color;
    }
  }

  .footer-background {
    background-image: url('../images/bgfooter480.png');
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: $mobile) {
        max-width: 100%;
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {

            .banner {
            background-image: url('../images/bgfooter960.png');
            }
        }
    }

    @media screen and (min-width: $tablet) {
        
        background-image: url('../images/bgfooter768.png');

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {

            .banner {
            background-image: url('../images/bgfooter2x1576.png');
            }
        }
    }

    @media screen and (min-width: $desktop) {
        background-image: url('../images/bgfooter960.png');
        min-height: 600px;
        width: 625px;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {

            .banner {
            background-image: url('../images/bgfooter2x1250.png');
            }
        }
    }    

  }



.contacts-form {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%; 
}

.footer-icon {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    margin-right: 16px;
 
    cursor: pointer;
    width: 24px;
    height: 24px;
    stroke: $secondary-text-color;
    fill: transparent; 
}

.barb-contacts:hover .footer-icon {
    fill: currentColor;
}

.address-phone-numb:hover {
    color: $accent-color;
}

.address-phone-numb:hover .footer-icon {
    fill: currentColor;
}


address {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 44px;

    @media screen and (min-width: $tablet) and (max-width: $tablet-top) {
        margin-right: 31px; 
        width: 270px;
        margin-bottom: 0;
     }

    a {
        margin-bottom: 20px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.62;

        letter-spacing: 0.02em;

        color: #9DA4BD;
        text-decoration: none;
    }

}

.barb-contacts {
    text-decoration: underline;

    &:hover, &:focus {
        color: $accent-color;
    }
}

.time-sub-title {
    margin-bottom: 20px;
    display: inline-flex;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.time {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;

    color: #9DA4BD;
}

.flex-contact {
    @media screen and (min-width: $tablet) and (max-width: $tablet-top) {
       display: flex; 
    }
}

.textaria-footer {
    min-height: 76px;
    min-width: 418px;
    resize: none;
    color: $main-text-color;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}


.footer-area {
    @media screen and (max-width: $mobile-top) {
        text-align: center;
     }  
}

.dash-footer {
    background-color: rgba(157, 164, 189, 0.4);
}

.box-footbutn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 44px;
}


.links-list {
    display: flex; 
}

.hero-line {
    background-color:  $secondary-bg-color;
    @media screen and (max-width: $mobile-top){
        margin-right: 40px;
    }
}

.footer-but-backgr {
    background-color:  $accent-bg-color;    
}

.copyright {
   color: #9DA4BD;
   font-size: $small-font-size;
   line-height: $small-line-height;
   font-weight: $font-weight-semi-bold;
   letter-spacing: 0.02;
}

.fotter-buttom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:$mobile-top) {
        padding-bottom: 25px;
    }
}


.footer-links-list:not(:last-child) {
    margin-right: 40px;
}

.sidebar-link {
    color: $title-text-color;
    font-size: $small-font-size;
    line-height: $small-line-height;
    font-weight: $font-weight-semi-bold;
    letter-spacing: 0.02;

   &:hover {
    color: $accent-color;
   }
}


.copy-box-footer {
    @media screen and (max-width:$mobile-top){
        padding-top: 25px;
    }
}

.container-footer {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 84px;
    padding-bottom: 84px;

    @media screen and (min-width:$mobile) {
        width: $mobile; 
    }

    @media screen and (min-width:$tablet){
        width: $tablet;
        padding-top: 98px;
        padding-bottom: 98px;
    }

    @media screen and (min-width:$desktop){
        width: 600px;
        padding-top: 130px;
        padding-bottom: 130px; 
    }
}

.subcintainer-footer {
    @media screen and (min-width:$desktop) {
        padding-left: 100px;
    }
}

