.footer-flex {
@media screen and (min-width: $desctop) {
    display: flex;
  }
}

.footer-section {
    padding-top: 84px;
    padding-bottom: 84px;
    min-width: 447px;
      
    @media screen and (min-width: $tablet) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
      
    @media screen and (min-width: 1200px) {
      min-width: 50%;
      padding-top: 130px;
      padding-bottom: 130px;
    }
}

.online-form {
    background-color: $secondary-bg-color;
}


.footer-title {
    margin-bottom: 44px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF; 
    
    @media screen and (min-width: $tablet) {
        text-align: left;
      }
}

.contact-title {
    margin-bottom: 40px;
   }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    @media screen and (min-width: $tablet) {
        &:not(:last-child) {
            display: flex;
        }
        
    }
    @media screen and (min-width: $desctop) {
        align-items: flex-start;
    }
}

label {
    display: inline-block;
    position: relative;
    margin-bottom: 44px;
}

.tablet-flex {

    @media screen and (min-width: $tablet) {
        display: flex;
        max-width: 330px;

        & + label {
            margin-right: 30px;
        }
    }
}

.modal-input {
    
    display: inline-block;   
    min-width: 418px;
    min-height: 25px;
    padding-bottom: 9px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid $subtitle-text-color;
    background-color: transparent;
    resize: none;
  
    &:focus-within, &:not(:placeholder-shown) {
      border-color: $main-text-color;
    }
  }

  .input-label {
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(157, 164, 189, 0.4);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    &:focus-within, &:not(:placeholder-shown) {
        color: $main-text-color;
    }
  }

  textarea {
      min-height: 75px;
      margin-bottom: 44px;

      @media screen and (min-width: $tablet) and (max-width: $tablet-top) {
          width: 690px;
      }
  }

// Кнопка
.button-send {
    padding-bottom: 13.2px;
    padding-top: 13.2px;
    min-width: 160px;
    height: 40px;
  
    font-weight: $font-weight-semi-bold;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-decoration: none;
    text-transform: uppercase;
     
    border-radius: 25px;
    border: 1px solid $accent-color;
    
    color: $main-text-color;
    background-color: transparent;
  
    &:hover, &:focus {
      background-color: $accent-color;
    }
  }


.contacts-form {
    background-color: $secondary-bg-color;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    background-image: url('../images/bgfooter480.png');

    @media screen and (min-width: $mobile) {
        max-width: 100%;
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {

            .banner {
            background-image: url('../images/bgfooter960.png');
            }
        }
    }

    @media screen and (min-width: $tablet) {
        
        background-image: url('../images/bgfooter768.png');

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {

            .banner {
            background-image: url('../images/bgfooter2x1576.png');
            }
        }
    }

    @media screen and (min-width: $desctop) {
        background-image: url('../images/bgfooter960.png');
        min-height: 600px;

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {

            .banner {
            background-image: url('../images/bgfooter2x1250.png');
            }
        }
    }    
}

.footer-icon {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    margin-right: 16px;
    
    cursor: pointer;
    width: 24px;
    height: 24px;
    stroke: $secondary-text-color;
    fill: transparent;
}

address {
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 44px;

    @media screen and (min-width: $tablet) and (max-width: $tablet-top) {
        margin-right: 31px; 
        width: 270px;
        margin-bottom: 0;
     }

    a {
        margin-bottom: 20px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.62;

        letter-spacing: 0.02em;

        color: #9DA4BD;
        text-decoration: none;
    }

}

.barb-contacts {
    text-decoration: underline;
}

.time-sub-title {
    margin-bottom: 20px;
    display: inline-flex;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.time {
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.67;

letter-spacing: 0.02em;

color: #9DA4BD;
}

.flex-contact {
    @media screen and (min-width: $tablet) and (max-width: $tablet-top) {
       display: flex; 
    }
}