

.header-container
{
    position: relative;
   
}




.header-box 
{
    position: absolute;
    
    left: 34px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    
    @media screen and (max-width:$mobile-top){
        right: 31px;
    }
    
    @media screen and (min-width:$desctop){
        left: 39px;
        align-items: center;
    }
    top: 40px;
    
   
    

}


.header-menu
{
        

    @media screen and (max-width: $mobile-top){
        position: absolute;
        padding-top: 60px;
        padding-bottom: 60px;
        
        
        display: none;
        top: 100%;
        left: 0px;
        width: 100%;
        
        background-color: $main-bg-color;
        
        &.is-open
        {
            display: block;
        }
    }

    @media screen and (min-width: $tablet)
    {
        display: flex;
        align-items: baseline;
       

    }
}



.nav-header
{
    display: flex;
    justify-content: space-between;
   
}

.nav-menu
{
    margin-right: 47px;
}
.nav-item:not(:last-child)
{
    margin-right: 24px;
}

.nav-link
{
    color:$main-text-color;
}

.signup
{
    display: flex;
    flex-direction: column;

    @media screen and (min-width:$desctop) {
        flex-direction: row;
    }
   
}

.header-btn-tablet
{
    @media screen and (max-width:$tablet-top) {
        margin-bottom: 20px;
    }
   
}

.header-phone
{
    color: white;
}

// main
.hero-section
{
    position: relative;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider3-480-min.jpg);
   padding-left: 31px;
   padding-right: 31px;
   background-size: cover;
   padding-top: 208px;
   padding-bottom: 183px;
   @media screen and (min-width:$tablet){
       
       background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider3-609-min.jpg);
       width: 100%;
       
   }
    
    
}

.hero-content-box
{
    width: 306px;
}
.hero-box-info
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hero-info
{
    margin: 0px;
    padding: 0px;
    color: $subtitle-text-color;
    font-size:  $small-font-size;
    line-height:  $small-line-height;
    font-weight:  $font-weight-semi-bold;
}



.hero-line
{
    width: 60px;
    height: 1px;
    background-color: $subtitle-text-color;
    margin-right: 20px;
}

.hero-title
{
   margin: 0px 0px 20px 0px;
   font-family: $title-font-family;
   color: $main-text-color;
   font-size: $hero-font-size-mobile;
   line-height: $hero-line-height-mobile;
   letter-spacing: $title-letter-spacing;
   font-weight: $font-weight-bold;
}

.hero-about
{
    margin: 0px;
    padding: 0px;
    color: $secondary-text-color;
    font-size:  $main-font-size-mobile;
    line-height:  $main-line-height-mobile;
    font-weight: $font-weight-normal;
}


.hero-slider-dash
{
background-color: $subtitle-text-color;
width: 8px;
height: 2px;


&:not(:last-child){
margin-bottom: 12px;
}

}

.active-dash
{
    width: 18px;
    background-color: $main-text-color;
}

.hero-slider-box
{
   position: absolute;
   right: 31px;
   top: 275px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
}

.logo
{
    fill: $main-text-color;

    @media screen and (min-width: $tablet){
        fill: black;
        margin-right: 64px;
    }

    @media screen and (min-width: $desctop){
        
        margin-right: 71px;
    }
}



.icon-open-mobile
{
    fill: $main-text-color;
}

.icon-close-mobile
{
    fill: $main-text-color;
}

.mobile-button
{
    @media screen and (min-width: $mobile-top) {
        display: none;

        
    }
   
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
    outline: transparent;
    &:hover
    {
        cursor: pointer;
    }
   
    
}


.mobile-button:hover .icon-open-mobile

{
    fill: $accent-color;
    
}


.icon-close-mobile
{
    display: none;
    
}

.mobile-button:hover .icon-close-mobile

{
    fill: $accent-color;
    
}

.mobile-button.is-open .icon-close-mobile
{
    display: block;
}

.mobile-button.is-open .icon-open-mobile
{
    display: none;
}



.sidebar
{
    display: none;
    @media screen and (min-width:$tablet){
        display: flex;
        width: 90px;
        height: 680px;
        background-color: $main-bg-color;
        margin-right: 30px;
    }
}
   
   
.main-container
{
    @media screen and (min-width:$tablet){
        display: flex;
        padding-right: 31px;
        padding-left: 31px;
    }
}