.primery-container
{
    width: 448px;
    margin-left: auto;
    margin-right: auto;
   
    @media screen and (min-width: $tablet) {
        width: $tablet;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $desctop) {
        width: $desctop;
    }


    

}


.header-container
{
    position: relative;
    
   
}




.header-box 
{
    position: absolute;
    
    left: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    
    @media screen and (max-width:$mobile-top){
        right: 15px;
    }
    
    @media screen and (min-width:$desctop){
        left: 15px;
        align-items: center;
    }
    top: 40px;
    
   
    

}


.header-menu
{
        

    @media screen and (max-width: $mobile-top){
        
        position: absolute;
        padding-top: 118px;
        padding-left: 40px;
        padding-bottom: 227px;
        box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
        
        display: none;
        
        
        
        
        background-color: $main-bg-color;
        
        &.is-open
        {
            display: block;
            width: 337px;
            top: -40px;
            right: -15px;
           
            
        }

        
    }

    @media screen and (min-width: $tablet)
    {
        display: flex;
        align-items: baseline;
       

    }
}



.nav-header
{
    @media screen and (min-width: $tablet)
        {display: flex;
            justify-content: space-between;}
    
    
   
}

.nav-menu
{
    // margin-right: 47px;
    @media screen and (max-width: $mobile-top){
        margin-bottom: 64px;}



    @media screen and (min-width: $tablet){
        margin-right: 103px;}

    @media screen and (min-width: $desctop){
        margin-right: 388px;}

}




.nav-item:not(:last-child)
{
    @media screen and (max-width:$mobile-top){
        margin-bottom: 24px;
    }

  

    @media screen and (min-width:$tablet){
        margin-right: 24px;
    }

    @media screen and (min-width:$desctop){
        margin-right: 40px;
    }
}

.nav-link
{
    color:$main-text-color;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px ;
    font-size: $secondary-font-size;
    line-height: $secondary-line-height;
    &:hover,
    &:focus
    {  color: $accent-color;
        cursor: pointer;}
        @media screen and (max-width: $mobile-top){
            color: $title-text-color;
            font-size:$main-font-size;
            font-weight: $font-weight-semi-bold;
            line-height: $main-line-height;

        }
}

.signup
{ display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width:$tablet) {
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    

    @media screen and (min-width:$desctop) {
        flex-direction: row-reverse;
    }
   
}

.header-btn-tablet
{
    color: $btn-main-color;
  background-color: transparent;
  font-weight: $font-weight-semi-bold;
  font-size: $btn-font-size;
  line-height: $btn-line-height;
  font-weight:  $font-weight-semi-bold;
  letter-spacing: $btn-letter-spacing;
  text-decoration: none;
  border-radius: 50px;
  border: 1px solid #ff6c00;
  
  width: 160px;
  height: 44px;
//   padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus{
      background-color: $accent-color;
      cursor: pointer;
  }

  @media screen and (max-width: $mobile-top){
    color: $title-text-color;
    margin-bottom: 64px;
}


    @media screen and (min-width:$tablet) {
        margin-bottom: 15px;
    }
    @media screen and (min-width:$desctop) {
        margin-bottom: 0px;
    }
   
}

.header-phone
{
    color: $main-text-color;
    font-size: $secondary-font-size;
    line-height: $secondary-line-height;
    font-weight:  $font-weight-semi-bold;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover,
    &:focus{
        color: $accent-color;
        cursor: pointer;
        
    }

    @media screen and (max-width: $mobile-top){
        color: $title-text-color;
        margin-bottom: 24px;
        
            font-size:$main-font-size;
            font-weight: $font-weight-semi-bold;
            line-height: $main-line-height;
    }
    @media screen and (min-width:$desctop){
        margin-right: 40px;
        
    }
}

.sociaa-form

{
    display: none;


@media screen and (max-width: $mobile-top){
    display: block;
    display: flex;
}
}

// main
.hero-section
{
    position: relative;
    padding-top: 208px;
    padding-left: 15px;
    padding-right: 15px;

    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider3-480-min.jpg);
    
    background-size: cover;
    background-repeat: no-repeat;
    

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
   
        background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider3-2x-960-min.jpg);}



   @media screen and (max-width:$mobile-top){
       padding-bottom: 183px;}



   @media screen and (min-width:$tablet){
      
       padding-top: 272px;
       padding-bottom: 40px;
       background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider3-609-min.jpg);
       width: 100%;
       
           @media screen and (min-device-pixel-ratio: 2),
                  screen and (min-resolution: 192dpi),
                  screen and (min-resolution: 2dppx){

                 background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider3-2x-1218-min.jpg);}
        }

   @media screen and (min-width:$desctop){
       
       object-fit: contain;
       background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider3-1125-min.jpg);
          
       @media screen and (min-device-pixel-ratio: 2),
           screen and (min-resolution: 192dpi),
           screen and (min-resolution: 2dppx){
           background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/Slider3-2x-2250-min.jpg);
           width: 100%;
        }
         }
    
    
}

.hero-content-box
{
    width: 306px;
    @media screen and (min-width: $tablet){
        width: 355px;
        margin-left: 120px;
        margin-bottom: 181px;
    }

    @media screen and (min-width: $desctop)
    {margin-left: 100px;}
    
}
.hero-box-info
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hero-info
{
    margin: 0px;
    padding: 0px;
    color: $subtitle-text-color;
    font-size:  $small-font-size;
    line-height:  $small-line-height;
    font-weight:  $font-weight-semi-bold;
}



.hero-line
{
    width: 60px;
    height: 1px;
    background-color: $subtitle-text-color;
    margin-right: 20px;
    
}

.hero-title
{
   margin: 0px 0px 20px 0px;
   font-family: $title-font-family;
   color: $main-text-color;
   font-size: $hero-font-size-mobile;
   line-height: $hero-line-height-mobile;
   letter-spacing: $title-letter-spacing;
   font-weight: $font-weight-bold;
}

.hero-about
{
    margin: 0px;
    padding: 0px;
    color: $secondary-text-color;
    font-size:  $main-font-size-mobile;
    line-height:  $main-line-height-mobile;
    font-weight: $font-weight-normal;
}


.hero-slider-dash
{
background-color: $subtitle-text-color;
width: 8px;
height: 2px;


&:not(:last-child){
margin-bottom: 12px;
}

}

.active-dash
{
    width: 18px;
    background-color: $main-text-color;
}

.hero-slider-box
{
   position: absolute;
   right: 15px;
   top: 275px;
   @media screen and (min-width:$tablet) {
       top: 325px;
   }
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
}

.logo
{
    fill: $main-text-color;

    @media screen and (min-width: $tablet){
        fill: black;
        margin-right: 64px;
    }

    @media screen and (min-width: $desctop){
        
        margin-right: 71px;
    }
}



.icon-open-mobile
{
    fill: $title-text-color;
}

.icon-close-mobile
{
    fill: $btn-main-color;
}

.header-mobile-button
{
    @media screen and (min-width: $mobile-top) {
        display: none;

        
    }
   z-index: 1;
    padding: 0px;
    margin: 0px;
    border: none;
    background-color: transparent;
    outline: transparent;
    &:hover
    {
        color: $accent-color;
        cursor: pointer;
    }
   
    
}


.header-mobile-button:hover .icon-open-mobile

{
    fill:currentColor;
    
}


.icon-close-mobile
{
    display: none;
    fill: $btn-main-color;
    
}

.header-mobile-button:hover .icon-close-mobile

{
    fill:currentColor;
    
}

.header-mobile-button.is-open .icon-close-mobile
{
    display: block;
  
}

.header-mobile-button.is-open .icon-open-mobile
{
    display: none;
}




.sidebar
{
    display: none;
    @media screen and (min-width:$tablet){
        display: flex;
        width: 90px;
        height: 680px;
        background-color: $main-bg-color;
        margin-right: 30px;
        align-items: center;
        justify-content: center;
    }
}
   
   
.main-container
{
    @media screen and (min-width:$tablet){
        display: flex;
       
    }
}

.sidebar-box
{
    display: flex;
    margin-top: 370px;
    transform: rotate(-90deg);
    align-items: center;

    
    

}

.sidebar-list
{
    display: flex;
    @media screen and (max-width: $mobile-top){
        flex-direction: column;
    }
   

   

}








.sidebar-link
{
    text-decoration: none;
}

.sidebar-hero-line
{
   @media screen and (max-width:$mobile-top){
    margin: 15px 40px 0px 0px;
    
   }
   @media screen and (min-width:$tablet){
    margin: 0px 40px 0px 0px;}
   }
.hero-slider-btn
{
    display: none;
    @media screen and (min-width:$tablet){
        display: flex;
        justify-content: flex-end;
        padding: 0px;

    }
   
}
.sidebar-item:not(:last-child)
{
@media screen and (max-width: $mobile-top){
    margin-bottom: 24px;
}

@media screen and (min-width: $tablet){
    margin-right: 40px;
}



}


.sidebar-text{
    @media screen and (max-width:$mobile-top){
        font-size:$main-font-size;
            font-weight: $font-weight-semi-bold;
            line-height: $small-line-height;
    }
 color: $title-text-color;
 font-size:$small-font-size;
            font-weight: $font-weight-semi-bold;
            line-height: $main-line-height;

 
 &:hover,
 &:focus
 {
     color: $accent-color;
     cursor: pointer;
 }
}


.slayder-btn-check
{
    background-color: transparent;
    color: $subtitle-text-color;
    border: none;
    
    border-bottom: 1px solid$subtitle-text-color;
    padding-bottom: 10px;
}

.btn-next
{
    padding-right: 22px;
}

.btn-back
{
margin-left: 26px;
padding-left: 22px;

}



.slider
{
    width: 320px;
}




