.part-prices {
  padding-bottom: 84px;
  min-width: $mobile;
}
@media screen and (min-width: 768px) {
  .container-prices {
    padding: 84px 31px 84px 31px;
    min-width: $mobile;
    min-height: 826px;
    background-color: #111319;
    background-image: linear-gradient(#111319, #111319),
      url(../images/bgprice-480-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.container-prices {
  display: block;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  min-width: 412px;
  background-image: url(../images/bgprice-480-min.png);
  background-color: #111319;
  min-height: 826px;
}

// Заголовок
.dash {
  display: inline-flex;
  margin-bottom: 5px;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background-color: $subtitle-text-color;

  @media screen and (max-width: 479px) {
    width: 60px;
    margin-right: 10px;
    margin-bottom: 2px;
  }
}

.text {
  display: inline-flex;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: $main-font-family;
  font-weight: $font-weight-semi-bold;
  font-size: 11px;
  color: $subtitle-text-color;
  font-style: normal;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @media screen and (max-width: 479px) {
    font-size: 11px;
  }
}
.service-title {
  margin-top: 0px;
  margin-bottom: 44px;
  font-family: $title-font-family;
  letter-spacing: 0.05em;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  color: #ffffff;
  text-align: left;

  @media screen and (max-width: 479px) {
    font-size: 32px;
  }
}
.list-services {
  display: block;
  margin: 0px;
  margin-bottom: 50px;
  padding: 30px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.service {
  font-family: $main-font-family;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 2.14;
  color: $secondary-text-color;
  letter-spacing: 0.02em;
  list-style-type: none;
}
.service:not(:last-child) {
  margin-bottom: 20px;
}
.line {
  content: '';
  display: inline-flex;
  width: 60px;
  height: 1px;
  background-color: $subtitle-text-color;
}

//Кнопка
.button-online {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $main-text-color;
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.09em;
  line-height: 1.33;
  text-decoration: none;
  border-radius: 25px;
  border: 1px solid $accent-color;
  min-width: 160px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 250ms $main-transition-timing;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $accent-color;
  }
}
