.school {
  @media screen and (min-width: $desktop) {
    position: relative;
  }
}

.sub-title {
  @extend %sub-title;
  font-size: 11px;
  line-height: 1.36;
}

// Заголовок + параграф

.traditional-school-box-title {
  @media screen and (min-width: $tablet) {
    width: 500px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 30px;
    margin-left: 640px;
  }
}

.traditional-school-title {
  @extend %title;
  margin-bottom: 20px;
  font-size: 42px;
}

.traditional-school-text {
  margin-bottom: 44px;
  font-weight: $font-weight-normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}

// список преимуществ в иконках


.advantages-box {
  height: 331px;
  @media screen and (min-width: $tablet) {
    position: relative;
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    left: 140px;
    top: 21px;
  }
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    left: 239px;
  }

  @media screen and (max-width: $tablet-top) {
    position: absolute;
  }
}

.advantages-item {
  position: absolute;
  width: 193px;
  height: 133px;
  padding: 20px 33px;
  text-align: center;
  background: $accent-bg-color;

  &:nth-child(2) {
    left: 223px;
    top: 35px;
  }

  &:nth-child(3) {
    top: 163px;
  }

  &:nth-child(4) {
    top: 198px;
    left: 223px;
  }
}

.advantages-number {
  display: inline-flex;
  margin-bottom: 6px;
  font-weight: $font-weight-bold;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: $title-text-color;
}

.advantages-plus {
  margin-bottom: 22px;
  margin-left: 2px;
  fill: $accent-color;
}

.advantages-text {
  font-weight: $font-weight-semi-bold;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: $title-text-color;
}
